html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* SCROLL BAR */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(158, 190, 255)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, #003858));
}

.text-center{text-align: center;}

.is-not-opened-children{
  transition: ease-in-out .3s !important;
}
.is-opened-children{
  transform: rotate(90deg) !important;
  transition: ease-in-out .3s !important;
}

.design--team{
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: rgba(231, 227, 252, 0.87) !important;
}

.mainTable .sticky-col {
  position: sticky !important;
  background: #b0d3ff;
  z-index: 1 !important;
}
.tableHead th{
  background-color: rgb(21 83 143) !important;
}
.tableHead tr th{
  color: #fff !important;
  border: 1px solid #fff;
  white-space: nowrap;
}
.tableBody tr td{
  border: 1px solid #dee2e6;
  white-space: nowrap;
}
.mainTable .start-col{
  left: 0 !important;
}
.mainTable .end-col{
  right: 0 !important;
}

.mainTable .tableActionBtn{
  font-size: 20px;
  color: #0077df !important;
}

.mainTable .deleteBtn{
  color: red !important;
}

.btn{
  border-radius: 0 !important;
  cursor: pointer;
}

.addNewBtn{
  border: 1px solid #fff !important;
  border-radius: 0 !important;
  margin-left: 1.5em !important;
  padding: .2em !important;
}
.addNewBtn *{
  font-size: 13px !important;  
  color: #fff !important;
}

.saveBtn{
  background-color: green !important;
  border: 1px solid green !important;
  color: #fff !important;
}
.closeBtn{
  background-color: red !important;
  border: 1px solid red !important;
  color: #fff !important;
}

.closeBtn:hover{
  background-color: #fff !important;
  border: 1px solid red !important;
  color: red !important;
}

.saveBtn:hover{
  background-color: #fff !important;
  border: 1px solid green !important;
  color: green !important;
}


.footer-content-container{
  padding: 5px !important;
}

/* css bao cao bieu mau */
.formReport_box{
  height: 120px;
  border: 1px solid #dee2e6;
  padding: 1rem;
  display: flex;
}
.formReport_img{
  width: 100%;
  height: 100%;
}
.text-danger{
  color: #dc3545 !important;
}
.text-success{
  color: #28a745 !important;
}
.text-weight-bold{
  font-weight: 700 !important;
}
._row{
  display: flex;
  flex-wrap: wrap;
}
._justifyContentBetween {
  justify-content: space-between;
}
._font12 {
  font-size: 12px !important;
}
._search{
  display: flex;
  flex-wrap: wrap;
}
._search .MuiAutocomplete-root{
  width: 150px !important;
  margin: 0 5px;
}
._search .MuiAutocomplete-root input, ._search .MuiAutocomplete-root label{
  font-size: 13px;
}

._search button{
  margin: 0 5px;
  white-space: nowrap;
  height: 100%;
  font-size: 13px;
}

._space_between{
  display: flex;
  justify-content: space-between;
}
._text_center{
  text-align: center;
}
.btn-link{
  cursor: pointer;
  color: #007bff !important;
}

.btnShowFilePdf{
  color: #0077df !important;
  cursor: pointer !important;
  font-size: 14px !important;
}

.btn-link:hover {
  color: cornflowerblue !important;
}

.license_status {
  white-space: nowrap !important;
  border-radius: 25px !important;
  text-align: center !important;
  font-size: 11px !important;
  font-weight: bold !important;
  height: 25px !important;
  line-height: 25px !important;
  padding: 0 10px !important;
}

.hsd-danger {
  color: red;
  background-color: #ff7875;
  border: 1px solid red;
}

.hsd-warning {
  color: #af6e08;
  background-color: #ffc069;
  border: 1px solid orange;
}

.hsd-success {
  color: green;
  background-color: #b7eb8f;
  border: 1px solid green;
}

.DialogControlShowPDF .MuiDialog-container{
  width: 55vw;
  right: 0;
  position: absolute;
}