html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* SCROLL BAR */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(158, 190, 255)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, #003858));
}

.text-center{text-align: center;}

.is-not-opened-children{
  transition: ease-in-out .3s !important;
}
.is-opened-children{
  transform: rotate(90deg) !important;
  transition: ease-in-out .3s !important;
}

.design--team{
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: rgba(231, 227, 252, 0.87) !important;
}

.mainTable{
  margin-top: 1.25rem;
}

.tableHead{
  background-color: rgb(21 83 143) !important;
}
.tableHead tr th{
  color: #fff !important;
  border: 1px solid #fff;
  white-space: nowrap;
}
.tableBody tr td{
  border: 1px solid #fff;
  white-space: nowrap;
}
.tableHead .start-col{
  left: 0;
}
.tableHead .end-col{
  right: 0;
}

.mainTable .tableActionBtn{
  font-size: 20px;
  color: #0077df !important;
}

.mainTable .deleteBtn{
  color: red !important;
}

.btn{
  border-radius: 0 !important;
  margin: 0 10px 0 10px !important;
}
.btn:hover{
  scale: 1.1;
}
.saveBtn{
  background-color: green !important;
  color: #fff !important;
}
.closeBtn{
  background-color: red !important;
  color: #fff !important;
}

.footer-content-container{
  padding: 5px !important;
}

/* css bao cao bieu mau */
.formReport_box{
  height: 120px;
  border: 1px solid #dee2e6;
  padding: 1rem;
  display: flex;
}
.formReport_img{
  width: 100%;
  height: 100%;
}
.text-danger{
  color: #dc3545 !important;
}
.text-success{
  color: #28a745 !important;
}
.text-weight-bold{
  font-weight: 700 !important;
}

.total_contruction{
  display: flex;
  justify-content:space-between 
}

.contruction_search{
  display: flex;
}
.contruction_search button{
  margin: 0 5px;
  height: 100%;
}